{% extends "bases/base.html" %}

{% block contentClass %}index-content{% endblock %}

{% block content %}
<div class="pure-g index">
  <div class="pure-u-1-1 cell">
    <h1>Jaime Forcada Balaguer</h1>
    <img src="static/logo1.svg.png">
    <ul class="contact-list">
      <li>
        <a href="{{ 'cv'|url }}" class="pure-button custom-link">
          <i class="fa fa-file"></i> CV
        </a>
      </li>
      <li>
        <a href="{{ 'contact'|url }}" class="pure-button custom-link">
          <i class="fa fa-envelope"></i> Contact
        </a>
      </li>
      <li>
        <a href="{{ 'blog'|url }}" class="pure-button custom-link">
          <i class="fa fa-pen-fancy"></i> Blog
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
