{% extends "bases/top-page-base.html" %}

{% block topPageContent %}

<div class="projects pure-g row-canvas">
  <div class="pure-u-1 pure-u-md-1-1 css-canvas">
    <h2 class="title section-title">Projects</h2>
    
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3">
        <img src="/static/projects-pweb.png">
      </div>
      <div class="pure-u-1 pure-u-md-2-3 explanation">
        <div>
          <h3>PWeb static site generator</h3>
          <p>
            The PWeb static site generator is the Python program that generates
            this site.
          </p>
          <p>
            It takes advantage of the Jinja2 template engine. Instead of forcing
            a site structure as some other generators, it interprets a JSON
            configuration.
          </p>
          <p>
            A part from static pages, PWeb can build a tag based blog. Check the
            source code on the <a target="_blank" rel="noopener noreferrer"
            href="https://github.com/jforcada/pweb">PWeb GitHub repository</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
