<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

    <!-- Twitter metas -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@jforcada11" />
    <meta name="twitter:title" content="{{page.title}}" />
    <meta name="twitter:description" content="{{page.description}}" />
    <meta name="twitter:image" content="{{page.img_url}}" />

    <!-- Linkedin metas -->
    <meta property="og:title" content="{{page.title}}"/>
    <meta property="og:image" content="{{page.img_url}}"/>
    <meta property="og:description" content="{{page.description}}"/>
    <meta property="og:url" content="{{page.full_url}}" />

    <title>{{page.title}}</title>

    <link rel="stylesheet" href="/static/pure-min.css">
    <link rel="stylesheet" href="/static/grids-responsive-min.css">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous"
    >
    <link
      href="https://fonts.googleapis.com/css2?family=Muli&family=Ubuntu&display=swap"
      rel="stylesheet"
    >
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/logo.png" />

    {% if prog_args.production %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-125855206-1">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-125855206-1');
    </script>
    {% endif %}
  </head>

  <body>
    <div class="{% block contentClass %}content{% endblock %}">
      {% block content %}
      content here
      {% endblock %}
    </div>

  </body>
</html>
