<div class="identity pure-g">
  <div class="pure-u-1 pure-u-md-1-2">
    <h1 class="title center">Jaime Forcada Balaguer</h1>
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    <p>
      Passionate software engineer. Interested in software design, algorithms
      and scalability.
    </p>
    <ul class="contact-list">
      <li>
        <a href="#cv" class="pure-button custom-link">
          <i class="fa fa-file"></i> CV
        </a>
      </li>
      <li>
        <a href="mailto:jaime.forcada.balaguer@gmail.com" class="pure-button custom-link" target="_top">
          <i class="fa fa-envelope"></i> Email me
        </a>
      </li>
    </ul>
  </div>
</div>
