<div class="header pure-g">
  <div class="pure-u-1-5">
    <a href="/">
      <img src="static/logo1.svg.png">
    </a>
  </div>
  <div class="pure-u-4-5">
    <ul class="contact-list">
      <li>
        <a href="{{ 'cv'|url }}" class="pure-button custom-link">
          <i class="fa fa-file"></i> CV
        </a>
      </li>
      <li>
        <a href="mailto:jaime.forcada.balaguer@gmail.com" class="pure-button custom-link" target="_top">
          <i class="fa fa-envelope"></i> Email me
        </a>
      </li>
      <li>
        <a href="{{ 'blog'|url }}" class="pure-button custom-link">
          <i class="fa fa-pen-fancy"></i> Blog
        </a>
      </li>
    </ul>
  </div>
</div>
